.swiper-button-next {
    color: #a2a2a2;
    /*background-color: #e3e3e3;*/
    /*height: 30px;*/
    /*width: 30px;*/
    /*border-radius: 50%;*/
    /*display: inline-block;*/
    /*padding-top: 5px;*/
    /*padding-left: 12px;*/
    opacity: 0.6;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    font-size: 20px;
}


.swiper-button-prev {
    color: #a2a2a2;
    /*background-color: #e3e3e3;*/
    /*height: 30px;*/
    /*width: 30px;*/
    /*border-radius: 50%;*/
    /*display: inline-block;*/
    /*padding-top: 5px;*/
    /*padding-left: 12px;*/
    opacity: 0.6;
}
